[project]
name = "swarmx"
version = "0.5.1"
authors = [
    { name = "Tang Ziya", email = "tcztzy@gmail.Com" }
]
description = "A lightweight, stateless multi-agent orchestration framework."
readme = "README.md"
license = "MIT"
dependencies = [
    "jinja2>=3.1.5",
    "mcp>=1.2.1",
    "openai>=1.60.2",
    "pydantic>=2.10.6",
    "typer>=0.15.1",
    "typing-extensions>=4.12.2",
]
requires-python = ">=3.10"

[project.scripts]
swarmx = "swarmx:repl"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "pre-commit>=4.1.0",
    "pytest>=8.3.4",
    "pytest-cov>=6.0.0",
    "mypy>=1.14.1",
    "deepeval>=2.2.6",
    "tox>=4.24.1",
    "mcp-server-time>=0.6.2",
]

[tool.ruff.lint]
extend-select = ["I", "T20"]

[tool.mypy]
plugins = ['pydantic.mypy']

[tool.pytest.ini_options]
addopts = ["--cov=swarmx"]

[tool.pyright]
venvPath = "."
venv = ".venv"
